/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#main-content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-image: url('/static/images/MuchaTseBle.jpeg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .nav-left,
.navbar .nav-right {
    display: flex;
    align-items: center;
}

.navbar .nav-right {
    margin-left: auto;
}

.navbar .nav-item {
    margin: 0 10px;
}

h2 {
    text-align: center;
    color: blanchedalmond;
}

.premium-description {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

/* Form styles */
.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-bottom: 5px;
    color: whitesmoke;
}

.auth-form input,
.auth-form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.auth-form input:focus,
.auth-form select:focus {
    border-color: #007bff;
    outline: none;
}

.auth-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #0056b3;
}

#main-content p {
    color: whitesmoke;
}

#main-content p  a {
    text-decoration: none;
    color : #007bff;
}

.google-signin {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
}

.google-signin-btn,
.github-signin-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.github-signin-btn {
    background-color: #333;
}

.google-signin-btn i,
.github-signin-btn i {
    margin-right: 10px;
}

.google-signin-btn:hover {
    background-color: #357ae8;
}

.github-signin-btn:hover {
    background-color: #24292e;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}